@{
    ViewBag.Title = "Index";
}

@RenderPage("../Padrao/Topo.cshtml");

<div id="content" class="innerpage">
    <div id="main">
        <table>
            <tbody>
                <h2 style="color:#F90"><span>Conteúdo</span></h2>
                <br />
                <tr>
                    <th style="color:#690; font-size:18px; background-color:#EBEBEB">Dom</th>
                    <th style="color:#690; font-size:18px; background-color:#EBEBEB">Seg</th>
                    <th style="color:#690; font-size:18px; background-color:#EBEBEB">Ter</th>
                    <th style="color:#690; font-size:18px; background-color:#EBEBEB">Qua</th>
                    <th style="color:#690; font-size:18px; background-color:#EBEBEB">Qui</th>
                    <th style="color:#690; font-size:18px; background-color:#EBEBEB">Sex</th>
                    <th style="color:#690; font-size:18px; background-color:#EBEBEB">Sab</th>
                </tr>


            </tbody>
        </table>

    </div><!-- end main -->
</div><!-- end content -->
<div class="clear"></div><!-- clear float -->
@RenderPage("../Padrao/Rodape.cshtml");
